<?xml version="1.0" encoding="UTF-8"?><OfflineSave>	
	<Credentials>
		<credential Password="TESTEteste123" Username="testees@outlook.pt"/>
	<credential Password="mailTESTE123" Username="testees1111@outlook.pt"/>
</Credentials>
	<Posts>


















































































































































































































































































































































































































































<notification channel="Facebook" date="07-12-2018 22:44:39" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 22:16:29" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 22:12:38" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 22:02:51" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 21:50:15" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 21:07:39" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 18:00:00" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 17:56:43" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 17:55:34" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 17:52:01" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 17:35:34" source="" subject="" text="Ola Teste"/>
<notification channel="Facebook" date="07-12-2018 16:54:16" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 16:15:33" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 16:00:46" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 15:56:19" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 15:08:36" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 15:08:31" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 15:07:46" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 15:06:27" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 15:05:45" source="" subject="" text="JUnit Test"/>
<notification channel="Facebook" date="07-12-2018 11:22:47" source="" subject="" text="Teste Na Janela"/>
<notification channel="Facebook" date="07-12-2018 10:19:22" source="" subject="" text="Test"/>
<notification channel="Facebook" date="07-12-2018 10:19:20" source="" subject="" text="Test"/>
<notification channel="Facebook" date="07-12-2018 09:42:58" source="" subject="" text="Adeus"/>
<notification channel="Facebook" date="06-12-2018 18:17:47" source="" subject="" text="Olá!"/>
</Posts>
	<Filter>
	</Filter>
</OfflineSave>
